<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
</head>
<body>
    <table class="table table-bordered" style="width:100%; border-collapse: collapse;">
        <thead>
            <tr>
                <td style="border: 1px solid black;"></td>
            </tr>
        </thead>
    </table>
    <table class="table table-bordered" style="width:100%; border-collapse: collapse;">
        <thead>
            <tr>
                <td style="font-size:5px; border: 1px solid black;">CARTA DE AMONESTACIÓN</td>   
            </tr>
        </thead>
    </table>
    <hr style="border: none; border-top: 1px solid black;">
    <table class="table" style="width:100%; border-collapse: collapse;">
        <tbody>
            <tr>
                <td style="text-align: justify; padding: 8px; border: 1px solid black;">
                    Nos permitimos comunicar a usted <strong></strong> cédula nacional de identidad número <strong>${this.rut_input}</strong> que la conducta observada el día <strong></strong>, constituye un incumplimiento a las
                    obligaciones que le impone su contrato de trabajo.<br><br>
                    Se viene amonestar por , de acuerdo a los antecedentes tenidos en nuestro poder, abandono de trabajo, al haber salido
                    intempestiva e injustificadamente del sitio de sus labores durante las horas de trabajo, sin permiso del empleador. Cabe
                    destacar presente que esta situación incluso puede llegar a configurar la causal de término de contrato prevista en el N° 4 del
                    artículo 160 del Código del Trabajo.<br><br>
                    Por la presente carta de amonestación se requiere el estricto cumplimiento de las instrucciones dadas por su jefatura en cuanto
                    a la forma correcta de llevar el registro de asistencia de lo contrario, se adoptarán las medidas pertinentes. Inclusive la
                    terminación del contrato de trabajo.<br><br>
                    Saludos a usted.<br><br><br><br>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
